<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Model App</title>
</head>
<body>
    <h1>Loan Customer Prediction</h1>
    <form  method="post">
        <label>Income</label>
        <input type="text" name="Income">
        <br>
        <label>Family</label>
        <input type="text" name="Family">
        <br>
        <label>CCAvg</label>
        <input type="text" name="CCAvg">
        <br>
        <label>Education</label>
        <input type="text" name="Education">
        <br>
        <input type="submit" value="Submit">
        <br>
    </form>
    <h3 style="color: blueviolet;">{{result}}</h3>
</body>
</html>